* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #FFFEFA;

}

.hidden {
    display: none;
}

/* common calss */
.btn {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #872BFF;
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 11px 31px 0 #8C8C8C;
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #872BFF;
    transition: all .5s;
}

.btn:hover {
    background-color: #FFFFFF;
    color: black;
}

.white-btn {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 15px 32px;
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
    border-radius: 30px;
    box-shadow: 0 11px 31px #8C8C8C;
    cursor: pointer;
}

.container {
    width: 87.5%;
    margin: 0 auto;

}

/* common heading */

.heading {
    text-align: center;
    margin-bottom: 60px;
}

.heading h4 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #6A14DA;
    margin-bottom: 10px;
}

.heading h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 60px;

}

/* common-card-section */
.card {
    background-color: #FFFFFF;
    padding: 40px;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
    transition: all.5s;
}

.card:hover {
    background-color: #872BFF30;

}

.card * {
    margin-bottom: 20px;
}

.card h3 {

    font-size: 24px;
    font-weight: bolder;
}

.card p {

    font-size: 16px;
    line-height: 26px;
}

.card a {
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

/* project-section */
.project-card {
    border: 1px solid #872BFF;
    background-color: #FFFFFF;
    display: flex;
    padding: 48px;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 60px;
}

.project-img img {
    width: 400px;
    border-radius: 20px;
}

.project-content * {
    margin-bottom: 20px;

}

.project-content h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.project-content p {
    font-size: 16px;
    color: #0E0E0E70;
    line-height: 24px;
}

/* experience-section */
.company-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.brand {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #0E0E0E15;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px #00000025;
    transition: all.5s;
}

.brand:hover {
    background-color: #872BFF30;

}


.experience-btn {
    text-align: center;
}

/* hero-section */
#hero {
    background-image: url(image/Hero-bg.png);
    background-size: 500px;

}

#hero-container {
    width: 87.5%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: end;
    padding-right: 30px;
    padding-top: 20px;

}

#hero-content {
    padding-bottom: 100px;

}

#hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

#hero-content span {
    color: #872BFF;

}

#hero-content p {
    font-size: 15px;
    line-height: 30px;
    color: #8A8A8A;
    margin-bottom: 30px;
}

#hero-image img {
    width: 540px;
    vertical-align: middle;

}

/* skill card section */
#card-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;

}

/* footer-section */

#footer {
    border-top: 1px solid #872BFF30;
    padding: 15px 0;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-content {
    font-size: 16px;
    color: #5B5757;

}


#footer-image {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-right: 32px;
}


#hero,
#skill,
#project,
#experience {
    margin-bottom: 150px;
}


/* resposive */

/* laptop device 1025 - 1200px */
@media screen and (max-width:1200px) {

    #hero-content {
        padding-bottom: 120px;

    }

    #hero-content h1 {
        font-size: 34px;
        margin-bottom: 23px;
    }

    #hero-content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 23px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        margin-right: 0;

    }

    .project-content * {
        margin-bottom: 11px;
    }


}

/* tablet device 769 - 1024px */
@media screen and (max-width:1024px) {

    #hero-container {
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        gap: 0px;
        padding-right: 0px;

    }

    #hero-content {
        padding-bottom: 0px;

    }

    #hero-content h1 {
        text-align: center;
    }

    #hero-content p {
        text-align: center;

    }

    #hero-image img {
        width: 399px;
        vertical-align: middle;
    }

    #card-box {
        flex-direction: column;
        align-items: center;

    }

    .card {
        width: 100%;

    }

    .project-img img {
        width: 295px;

    }

    .project-content * {
        margin-bottom: 6px;
    }

    .project-content p {
        font-size: 13px;
        color: #0E0E0E70;
        line-height: 18px;
    }

    #footer-content {
        font-size: 12px;

    }

    #footer-image {
        gap: 20px;


    }

    .media img {
        height: 25px;
    }
}

/* android device landscape 569 - 768px */
@media screen and (max-width:768px) {

    .heading h2 {
        font-size: 39px;

    }

    .project-card {

        flex-direction: column;
    }

    .project-img img {
        width: 100%;

    }

    .brand {
        padding: 32px;

    }

    .heading h2 {
        font-size: 35px;
    }

    #footer-content {
        font-size: 10px;
    }

    #footer-image {
        gap: 14px;
    }
}

/* android device protrait 320 - 568px */
@media screen and (max-width:568px) {

    #hero-content h1 {
        font-size: 27px;
    }

    #hero-image img {
        width: 100%;
    }

    .heading h2 {
        font-size: 34px;
    }

    .project-card {
        padding: 10px;
    }

    .project-content {
        text-align: center;
    }

    .heading h2 {
        font-size: 30px;
    }

    .project-content h3 {
        font-size: 30px;
    }

    .brand {
        width: 100%;
        /* max-width: 150PX; */
    }

    #footer-container {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }

    #footer-image {
        padding-right: 0px;
    }

    .media img {
        height: 19px;
    }

    #footer {
        padding-bottom: 30px;

    }

}