* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FFFFFF;
}


.hidden {
    display: none
}

/* common / typography */
.container {
    width: 78%;
    margin: 0 auto;

}

#nav,
#hero {
    margin-bottom: 50px;
}

#category,
#backpuck,
#shoes,
#newsletter {
    margin-bottom: 98PX;
}



.heading {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 8px;
    text-shadow: 0 2px 0 #FF136F;
    margin-bottom: 25px;
}

.category {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 25px;
    border-radius: 20px;
    align-items: center;

}

.category h3 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 400;
}

.product-card:hover {
    color: #ce0909;
}


#product-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.product-card {
    border: 2px solid #929292;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
/* max-width: 320px; */
}

.product-card * {
    margin-bottom: 10px;
}

.product-card img {
    /* width: 100%; */
    max-width: 100%;
}

.product-card h3 {
    font-size: 17px;
    font-weight: 700;
    color: #1F1F1F;
}

.product-card p {
    font-size: 16px;
    color: #4E4E4E;
    line-height: 26px;
}

.product-card h4 {
    font-size: 24px;
    font-weight: 580;
}

.product-card button {
    padding: 8px 28px;
    color: white;
    background-color: #1F1F1F;
    border-radius: 6px;
    cursor: pointer;
}





/* header section */
#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#nav-container .logo img {
    width: 100%;
    max-width: 148px;
}


#nav-container .menu img {
    width: 100%;
    max-width: 148px;
}

/* hero-section*/
#hero-container {
    background-color: #FEEAE9;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-content * {
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 45px;

}

.hero-content p {
    font-size: 16px;
    color: #4E4E4E;
    line-height: 26px;
}

.hero-content h3 {
    font-size: 45px;
    font-weight: 450;
    color: #FF136F;
}

.hero-content button {
    padding: 12px 40px;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.hero-image {
    width: 100%;
    max-width: 400px;
}




/* category section  */

#category-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* max-height: 120px; */
}



/* newsletter section  */

#newsletter-container {
    padding: 146px;
    background-color: #FFF2F1;
    text-align: center;
}

.news-heading h4 {
    font-size: 30px;
    font-weight: 600;
}

.news-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

#newsletter-container form input[type=text] {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#newsletter-container form {
    display: flex;
    padding-top: 15px;

}

#newsletter-container form button {
    padding: 12px 30px;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


#footer {
    margin-bottom: 30px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-content p {
font-size: 16px;
color: #FF136F;
}

.footer-image {
    display: flex;
    gap: 30px;
    padding-left: 30px;
    cursor: pointer;
}


.media img {
    display: flex;
    max-width: 25px;
}